#  This is a shared notebook for Project I - Group 3

## Data Cleaning

In [1]:
#Dependencies
import os
import pandas as pd
import calendar
import glob
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#csvDir = os.path.join("Resources")
#col_list = ["month_of_death","day_of_week_of_death","current_data_year",
#                              "manner_of_death","358_cause_recode","sex","detail_age"]
#masterDf = pd.DataFrame()
#files = os.listdir(csvDir)
#for file in files:
#    if file.endswith(".csv"):
#        curCsv = os.path.join(csvDir,file)
#        with open(curCsv) as file:
#            x = pd.read_csv(file, usecols=col_list)
#            masterDf = pd.concat([masterDf,x],axis=0)

In [ ]:
#path = '/Users/bmacgreg/Documents/Bootcamp/Project_1/Project-1Team3/bundle_archive'
#col_list = ["month_of_death","day_of_week_of_death","current_data_year",
#                              "manner_of_death","358_cause_recode","sex","detail_age"]
#masterDf = pd.DataFrame()
#files = glob.glob(path + "/200*.csv")
#for file in files:
#    x = pd.read_csv(file, usecols=col_list)
#    masterDf = pd.concat([masterDf,x],axis=0)
#masterDf.sort_values(by=['current_data_year'])
#masterDf

In [22]:
path = '/Users/bmacgreg/Documents/Bootcamp/Project_1/Project-1Team3/bundle_archive'
col_list = ["month_of_death","day_of_week_of_death","current_data_year","manner_of_death","358_cause_recode","sex","detail_age"]
year=2005                              
masterDf = pd.DataFrame()
#car_death_data = pd.DataFrame()
files = glob.glob(path + "/" + "year" + ".csv")

files = ("bundle_archive/2005_data.csv", "bundle_archive/2006_data.csv", "bundle_archive/2007_data.csv", "bundle_archive/2008_data.csv", "bundle_archive/2009_data.csv", "bundle_archive/2010_data.csv", "bundle_archive/2011_data.csv", "bundle_archive/2012_data.csv", "bundle_archive/2013_data.csv", "bundle_archive/2014_data.csv", "bundle_archive/2015_data.csv")
#years = (2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015)
for file in files:
    x = pd.read_csv(file, usecols=col_list)
    y = x[(x["358_cause_recode"] >=385) & (x["358_cause_recode"] <=398)]    
    masterDf = pd.concat([masterDf, y],axis=0)
    year = year + 1
    print(year)
masterDf.sort_values(by=['current_data_year'])
masterDf

2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016

,month_of_death,sex,detail_age,day_of_week_of_death,current_data_year,manner_of_death,358_cause_recode
207,1,M,32,7,2005,1.0,396
208,1,M,75,5,2005,1.0,387
220,1,M,68,7,2005,1.0,396
234,2,M,21,1,2005,1.0,396
235,2,M,24,1,2005,1.0,396
...,...,...,...,...,...,...,...
2717184,12,M,67,6,2015,1.0,397
2717278,12,F,77,5,2015,1.0,397
2717674,12,M,73,4,2015,1.0,397
2717998,12,M,70,5,2015,1.0,395
2718169,12,F,63,5,2015,1.0,386

In [ ]:
#Filter to only deaths related to cars
#car_death_data = masterDf[(masterDf["358_cause_recode"] >=385) & (masterDf["358_cause_recode"] <=398)]
#car_death_data

In [32]:
#Clean up the dataframe so that it is readable
month_dict = {
      1:"January",
      2:"February",
      3:"March",
      4:"April",
      5:"May",
      6:"June",
      7:"July",
      8:"August",
      9:"September",
      10:"October",
      11:"November",
      12:"December"}
      
day_of_week_dict = {
      1:"Sunday",
      2:"Monday",
      3:"Tuesday",
      4:"Wednesday",
      5:"Thursday",
      6:"Friday",
      7:"Saturday",
      9:"Unknown"}

manner_of_death_dict = {
      1:"Accident",
      2:"Suicide",
      3:"Homicide",
      4:"Pending investigation",
      5:"Could not determine",
      6:"Self-Inflicted",
      7:"Natural"}
#       "Blank":"Not specified"}

cause_recode_dict = {
      385:" 385- Motor vehicle accidents",
      386:" 386- Pedestrian involved in collision with motor vehicle",
      387:" 387- Pedalcyclist involved in collision with motor vehicle",
      388:" 388- Motorcyclist involved in any accident except collision with railway train",
      389:" 389- Motor vehicle accident involving collision with railway train",
      390:" 390- Motorcyclist involved in collision with railway train",
      391:" 391- Other motor vehicle accident involving collision with railway train",
      392:" 392- Occupant of motor vehicle involved in collision with other (non- motorized) road vehicle, streetcar, animal or pedestrian",
      393:" 393- Occupant of car, pickup truck or van involved in collision with other motor vehicle",
      394:" 394- Occupant of heavy transport vehicle or bus involved in collision with other motor vehicle",
      395:" 395- Occupant of motor vehicle involved in non-collision accident",
      396:" 396- Occupant of special-use motor vehicle involved in any accident",
      397:" 397- Other and unspecified motor vehicle accidents",
      398:" 398- Streetcar accidents"}
    

clean_df = car_death_data.replace({"month_of_death": month_dict, 
                        "day_of_week_of_death": day_of_week_dict,
                        "manner_of_death": manner_of_death_dict,
                        "358_cause_recode": cause_recode_dict})

clean_df.sort_values(by=["current_data_year", "month_of_death"])
clean_df

,month_of_death,sex,detail_age,day_of_week_of_death,current_data_year,manner_of_death,358_cause_recode
98,January,M,76,Thursday,2010,Accident,397- Other and unspecified motor vehicle acci...
108,January,M,19,Friday,2010,Accident,396- Occupant of special-use motor vehicle in...
204,January,M,58,Sunday,2010,Accident,397- Other and unspecified motor vehicle acci...
223,February,M,43,Monday,2010,Accident,397- Other and unspecified motor vehicle acci...
279,January,M,55,Saturday,2010,Accident,397- Other and unspecified motor vehicle acci...
...,...,...,...,...,...,...,...
2547415,December,M,11,Friday,2012,Accident,397- Other and unspecified motor vehicle acci...
2547466,December,M,47,Saturday,2012,Accident,"393- Occupant of car, pickup truck or van inv..."
2547503,December,M,21,Saturday,2012,Accident,397- Other and unspecified motor vehicle acci...
2547682,December,F,25,Sunday,2012,Accident,395- Occupant of motor vehicle involved in no...
2547692,December,F,55,Thursday,2012,Accident,386- Pedestrian involved in collision with mo...

In [24]:
#  check quality of data
#  list all unique values in each columns

colNames = list(clean_df.columns)
for col in colNames:
    print(col)
    print(f"{clean_df[col].unique()}")
    print("----------")

month_of_death
['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August'
 'September' 'October' 'November' 'December']
----------
sex
['M' 'F']
----------
detail_age
[ 76  19  58  43  55  40  21  56  14  16  70  39  42  54  68  18  72  25
  29  20  60  17  63  37  31  51  85  24  59  57  47  71  84   6  10  53
   8  64  28  89  62  66  22  26  38  46  15  75  49  88  36  65  83  73
  44  50  34  30   1  27  23  33  41  77  11   9  45  80  61  78  32   2
   4  79  67  86   7  91  87  48  81  90  35  52  74  69  97   3  82   5
  96  94  13  93 101  92  95  98  12 999  99 100 104 103 106 102 107]
----------
day_of_week_of_death
['Thursday' 'Friday' 'Sunday' 'Monday' 'Saturday' 'Tuesday' 'Wednesday'
 'Unknown']
----------
current_data_year
[2010 2011 2007 2006 2014 2015 2009 2008 2005 2013 2012]
----------
manner_of_death
['Accident' 'Natural' nan 'Homicide' 'Could not determine' 'Suicide'
 'Pending investigation']
----------
358_cause_recode
[' 397- Other and unspecified motor vehicle accidents'
 ' 396- Occupant of special-use motor vehicle involved in any accident'
 ' 388- Motorcyclist involved in any accident except collision with railway train'
 ' 394- Occupant of heavy transport vehicle or bus involved in collision with other motor vehicle'
 ' 395- Occupant of motor vehicle involved in non-collision accident'
 ' 387- Pedalcyclist involved in collision with motor vehicle'
 ' 386- Pedestrian involved in collision with motor vehicle'
 ' 393- Occupant of car, pickup truck or van involved in collision with other motor vehicle'
 ' 392- Occupant of motor vehicle involved in collision with other (non- motorized) road vehicle, streetcar, animal or pedestrian'
 ' 391- Other motor vehicle accident involving collision with railway train'
 ' 390- Motorcyclist involved in collision with railway train'
 ' 398- Streetcar accidents']
----------

In [25]:
#  Clean up
#  Remove not logical data 
# ie: age of 999, day of week : Unknown, manner_of_death nan, need filter by Accident
finalDf = clean_df[clean_df["detail_age"] != 999]
finalDf = finalDf[finalDf["manner_of_death"] == "Accident"]
finalDf = finalDf[finalDf["day_of_week_of_death"] != "Unknown"]
finalDf.sort_values(by='current_data_year', ascending=False)
finalDf

,month_of_death,sex,detail_age,day_of_week_of_death,current_data_year,manner_of_death,358_cause_recode
98,January,M,76,Thursday,2010,Accident,397- Other and unspecified motor vehicle acci...
108,January,M,19,Friday,2010,Accident,396- Occupant of special-use motor vehicle in...
204,January,M,58,Sunday,2010,Accident,397- Other and unspecified motor vehicle acci...
223,February,M,43,Monday,2010,Accident,397- Other and unspecified motor vehicle acci...
279,January,M,55,Saturday,2010,Accident,397- Other and unspecified motor vehicle acci...
...,...,...,...,...,...,...,...
2547415,December,M,11,Friday,2012,Accident,397- Other and unspecified motor vehicle acci...
2547466,December,M,47,Saturday,2012,Accident,"393- Occupant of car, pickup truck or van inv..."
2547503,December,M,21,Saturday,2012,Accident,397- Other and unspecified motor vehicle acci...
2547682,December,F,25,Sunday,2012,Accident,395- Occupant of motor vehicle involved in no...
2547692,December,F,55,Thursday,2012,Accident,386- Pedestrian involved in collision with mo...

In [26]:
# Enforcing order of day of week and months
finalDf['day_of_week_of_death'] = pd.Categorical(finalDf['day_of_week_of_death'], categories=
    ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday', 'Sunday'],ordered=True)
finalDf["month_of_death"] =  pd.Categorical(finalDf['month_of_death'], categories=
    ["January","February","March","April","May","June","July","August","September","October","November","December"],ordered=True)

In [27]:
path = '/Users/bmacgreg/Documents/Bootcamp/Project_1/Project-1Team3/bundle_archive'
col_list = ["month_of_death","day_of_week_of_death","current_data_year",
                              "manner_of_death","358_cause_recode","sex","detail_age"]
masterDf = pd.DataFrame()
files = glob.glob(path + "/*.csv")
for file in files:
    x = pd.read_csv(file, usecols=col_list)
    masterDf = pd.concat([masterDf,x],axis=0)
masterDf.sort_values(by=['current_data_year'])
masterDf

,month_of_death,sex,detail_age,day_of_week_of_death,current_data_year,manner_of_death,358_cause_recode
0,1,F,68,6,2010,7.0,187
1,1,F,12,1,2010,7.0,94
2,1,F,75,1,2010,7.0,122
3,1,M,61,6,2010,7.0,175
4,1,F,46,7,2010,2.0,429
...,...,...,...,...,...,...,...
2547859,9,M,60,6,2012,7.0,52
2547860,12,M,74,2,2012,7.0,159
2547861,11,M,71,6,2012,7.0,93
2547862,10,M,62,3,2012,1.0,418
2547863,11,F,53,2,2012,3.0,434

In [ ]:
finalDf.dtypes

## Analysis

In [ ]:
finalDf.dtypes

In [ ]:
census_summary_df = pd.read_csv("nc-est2019-agesex_rearranged.csv")
census_summary_df = census_summary_df.rename(columns={'Age group': 'Age_group', 'Both sexes': 'Both_sexes', 'Year':'current_data_year'})
census_summary_df

In [ ]:
def label_age_group (row):
    if row['detail_age'] < 5 :
        return '1'
    elif row['detail_age'] < 10 :
        return '2'
    elif row['detail_age'] < 15 :
        return '3'
    elif row['detail_age'] < 20 :
        return '4'
    elif row['detail_age'] < 25 :
        return '5'
    elif row['detail_age'] < 30 :
        return '6'
    elif row['detail_age'] < 35 :
        return '7'
    elif row['detail_age'] < 40 :
        return '8'
    elif row['detail_age'] < 45 :
        return '9'
    elif row['detail_age'] < 50 :
        return '10'
    elif row['detail_age'] < 55 :
        return '11'
    elif row['detail_age'] < 60 :
        return '12'
    elif row['detail_age'] < 65 :
        return '13'
    elif row['detail_age'] < 70 :
        return '14'
    elif row['detail_age'] < 75 :
        return '15'
    elif row['detail_age'] < 80 :
        return '16'
    elif row['detail_age'] < 85 :
        return '17'    
    else:
        return '18'

finalDf['Age_group'] = finalDf.apply (lambda row: label_age_group(row), axis=1)
finalDf.sort_values(by=['current_data_year'])
finalDf

In [ ]:
census_summary_df.dtypes

In [ ]:
finalDf["Age_group"] = pd.to_numeric(finalDf["Age_group"])
finalDf.dtypes

In [ ]:
finalDf_with_census = pd.merge(finalDf, census_summary_df, how='left', on=['Age_group', 'current_data_year'])
finalDf_with_census.sort_values(by=['current_data_year'])
finalDf_with_census

In [ ]:
hist_month = finalDf['month_of_death'].value_counts()[["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]].plot(kind='bar')
#hist_month = finalDf['month_of_death'].value_counts().plot(kind='bar')

In [ ]:
sns.set()
hist_month = sns.countplot(finalDf['month_of_death'], color='gray')
hist_month.set_xticklabels(hist_month.get_xticklabels(), rotation=45, horizontalalignment='right')

In [ ]:
ax = sns.countplot(x="current_data_year", hue="month_of_death", data=finalDf)
ax.legend(bbox_to_anchor=(1.05, 1), loc=2,borderaxespad=0.)
ax.set_title("Total Deaths by Month and Year")
#https://stackoverflow.com/questions/27019079/move-seaborn-plot-legend-to-a-different-position

In [ ]:
ax = sns.countplot(hue="current_data_year", x="358_cause_recode", data=finalDf)
ax.legend(bbox_to_anchor=(1.05, 1), loc=2,borderaxespad=0.)
ax.set_title("Deaths by Year and Type")
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')
#https://stackoverflow.com/questions/27019079/move-seaborn-plot-legend-to-a-different-position

In [ ]:
ax = sns.countplot(hue="current_data_year", x="day_of_week_of_death", data=finalDf)
ax.legend(bbox_to_anchor=(1.05, 1), loc=2,borderaxespad=0.)
ax.set_title("Total Deaths by Year and Day of Week")
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')
#https://stackoverflow.com/questions/27019079/move-seaborn-plot-legend-to-a-different-position

In [ ]:
#order=['Sunday', 'Monday', 'Tuesday' ,'Wednesday','Thursday' ,'Friday', 'Saturday']
cut_bins = [0,15,20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110]
finalDf['cut_age'] = pd.cut(finalDf['detail_age'], bins=cut_bins) #labels=cut_labels_4)
ax = sns.countplot(hue="day_of_week_of_death", x="cut_age", data=finalDf)
ax.legend(bbox_to_anchor=(1.05, 1), loc=2,borderaxespad=0.)
ax.set_title("Total Deaths by Age Group and Day of Week")
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

In [ ]:
#order=['Sunday', 'Monday', 'Tuesday' ,'Wednesday','Thursday' ,'Friday', 'Saturday']
#cut_bins = [0,15,20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110]
#finalDf['cut_age'] = pd.cut(finalDf['detail_age'], bins=cut_bins) #labels=cut_labels_4)
ax = sns.countplot(hue="day_of_week_of_death", x="age_group", data=finalDf)
ax.legend(bbox_to_anchor=(1.05, 1), loc=2,borderaxespad=0.)
ax.set_title("Total Deaths by Age Group and Day of Week")
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')

In [ ]:
ax = sns.barplot(x = 'Age', y = 'Both_sexes', hue='Year', data = census_summary_df)
ax.legend(bbox_to_anchor=(1.05, 1), loc=2,borderaxespad=0.)
ax.set_title("US Population by Age Group")
ax.set_xticklabels(ax.get_xticklabels(), rotation=45, horizontalalignment='right')