#  This is a shared notebook for Project I - Group 3

In [1]:
#Dependencies
import pandas as pd

In [2]:
##Amanda's code starts here ##

In [3]:
#List of the columns we want to read
col_list = ["month_of_death","day_of_week_of_death","current_data_year",
                              "manner_of_death","358_cause_recode","sex","detail_age"]

#Read all of the CSVs into dataframes
data_2005 = pd.read_csv('Resources/2005_data.csv', usecols=col_list)  
data_2006 = pd.read_csv('Resources/2006_data.csv', usecols=col_list)  
data_2007 = pd.read_csv('Resources/2007_data.csv', usecols=col_list)  
data_2008 = pd.read_csv('Resources/2008_data.csv', usecols=col_list)  
data_2009 = pd.read_csv('Resources/2009_data.csv', usecols=col_list)  
data_2010 = pd.read_csv('Resources/2010_data.csv', usecols=col_list)  
data_2011 = pd.read_csv('Resources/2011_data.csv', usecols=col_list)  
data_2012 = pd.read_csv('Resources/2012_data.csv', usecols=col_list)  
data_2013 = pd.read_csv('Resources/2013_data.csv', usecols=col_list)  
data_2014 = pd.read_csv('Resources/2014_data.csv', usecols=col_list)  
data_2015 = pd.read_csv('Resources/2015_data.csv', usecols=col_list)

In [4]:
combined_df = data_2005.append([data_2006, data_2007, data_2008, data_2009, data_2010, data_2011,\
                                data_2012, data_2013, data_2014, data_2015])
combined_df

,month_of_death,sex,detail_age,day_of_week_of_death,current_data_year,manner_of_death,358_cause_recode
0,1,F,45,2,2005,7.0,98
1,1,M,61,7,2005,7.0,266
2,1,F,79,1,2005,7.0,239
3,1,M,50,4,2005,7.0,159
4,1,F,68,2,2005,7.0,93
...,...,...,...,...,...,...,...
2718193,5,M,5,7,2015,7.0,358
2718194,12,F,48,6,2015,7.0,215
2718195,12,M,33,1,2015,7.0,178
2718196,7,M,83,7,2015,7.0,214
2718197,12,M,81,2,2015,7.0,207

In [5]:
#Filter to only deaths related to cars
car_death_data = (combined_df["358_cause_recode"] >=385) & (combined_df["358_cause_recode"] <=398)

car_death_data = combined_df[car_death_data]

car_death_data.head()

,month_of_death,sex,detail_age,day_of_week_of_death,current_data_year,manner_of_death,358_cause_recode
207,1,M,32,7,2005,1.0,396
208,1,M,75,5,2005,1.0,387
220,1,M,68,7,2005,1.0,396
234,2,M,21,1,2005,1.0,396
235,2,M,24,1,2005,1.0,396

In [11]:
#Clean up the dataframe so that it is readable
month_dict = {
      1:"January",
      2:"February",
      3:"March",
      4:"April",
      5:"May",
      6:"June",
      7:"July",
      8:"August",
      9:"September",
      10:"October",
      11:"November",
      12:"December"}
      
day_of_week_dict = {
      1:"Sunday",
      2:"Monday",
      3:"Tuesday",
      4:"Wednesday",
      5:"Thursday",
      6:"Friday",
      7:"Saturday",
      9:"Unknown"}

manner_of_death_dict = {
      1:"Accident",
      2:"Suicide",
      3:"Homicide",
      4:"Pending investigation",
      5:"Could not determine",
      6:"Self-Inflicted",
      7:"Natural"}
#       "Blank":"Not specified"}

cause_recode_dict = {
      385:" 385- Motor vehicle accidents",
      386:" 386- Pedestrian involved in collision with motor vehicle",
      387:" 387- Pedalcyclist involved in collision with motor vehicle",
      388:" 388- Motorcyclist involved in any accident except collision with railway train",
      389:" 389- Motor vehicle accident involving collision with railway train",
      390:" 390- Motorcyclist involved in collision with railway train",
      391:" 391- Other motor vehicle accident involving collision with railway train",
      392:" 392- Occupant of motor vehicle involved in collision with other (non- motorized) road vehicle, streetcar, animal or pedestrian",
      393:" 393- Occupant of car, pickup truck or van involved in collision with other motor vehicle",
      394:" 394- Occupant of heavy transport vehicle or bus involved in collision with other motor vehicle",
      395:" 395- Occupant of motor vehicle involved in non-collision accident",
      396:" 396- Occupant of special-use motor vehicle involved in any accident",
      397:" 397- Other and unspecified motor vehicle accidents",
      398:" 398- Streetcar accidents"}
    

clean_df = car_death_data.replace({"month_of_death": month_dict, 
                        "day_of_week_of_death": day_of_week_dict,
                        "manner_of_death": manner_of_death_dict,
                        "358_cause_recode": cause_recode_dict})

clean_df

,month_of_death,sex,detail_age,day_of_week_of_death,current_data_year,manner_of_death,358_cause_recode
207,January,M,32,Saturday,2005,Accident,396- Occupant of special-use motor vehicle in...
208,January,M,75,Thursday,2005,Accident,387- Pedalcyclist involved in collision with ...
220,January,M,68,Saturday,2005,Accident,396- Occupant of special-use motor vehicle in...
234,February,M,21,Sunday,2005,Accident,396- Occupant of special-use motor vehicle in...
235,February,M,24,Sunday,2005,Accident,396- Occupant of special-use motor vehicle in...
...,...,...,...,...,...,...,...
2717184,December,M,67,Friday,2015,Accident,397- Other and unspecified motor vehicle acci...
2717278,December,F,77,Thursday,2015,Accident,397- Other and unspecified motor vehicle acci...
2717674,December,M,73,Wednesday,2015,Accident,397- Other and unspecified motor vehicle acci...
2717998,December,M,70,Thursday,2015,Accident,395- Occupant of motor vehicle involved in no...
2718169,December,F,63,Thursday,2015,Accident,386- Pedestrian involved in collision with mo...

In [7]:
##Amanda's code ends here##