In [1]:
import numpy as np
import pingouin as pg

In [5]:
df = pg.read_dataset('mixed_anova')
df

       Scores    Time       Group  Subject
0    5.971435  August     Control        0
1    4.309024  August     Control        1
2    6.932707  August     Control        2
3    5.187348  August     Control        3
4    4.779411  August     Control        4
..        ...     ...         ...      ...
175  6.176981    June  Meditation       55
176  8.523692    June  Meditation       56
177  6.522273    June  Meditation       57
178  4.990568    June  Meditation       58
179  7.822986    June  Meditation       59

[180 rows x 4 columns]

In [3]:
aov = pg.anova(data=df, dv='Scores', between='Group', detailed=True)
print(aov)

   Source          SS   DF        MS         F   p-unc       np2
0   Group    5.459963    1  5.459963  5.243656  0.0232  0.028616
1  Within  185.342729  178  1.041251       NaN     NaN       NaN